MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/gh-pages
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.xunit.xml
.tern-project

built/
index.built.js
**/es5/

jupyter-js-widgets/css
jupyter-js-widgets-nbextension/jupyter-js-widgets-nbextension/static
