MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/gh-pages
ipywidgets/static/components
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.xunit.xml

*.py
ipywidgets/widgets
ipywidgets/tests
.travis.yml
setup.cfg
examples/
