include LICENSE
include CONTRIBUTING.md
include README.md
include package.json
include bower.json
include .bowerrc
include ipywidgets/build_css.js

# Documentation
graft docs
exclude docs/\#*

# Examples
graft ipywidgets/tests
graft ipywidgets/static

# docs subdirs we want to skip
prune docs/build
prune docs/dist

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints

# Exclude build scripts
exclude scripts
