MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/gh-pages
static/components/
static/notebook/js/
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.xunit.xml

*.py
widgets/
tests/
.travis.yml
build_css.js
setup.cfg
examples/
.jshintrc
