MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/gh-pages
src/components/
node_modules
*~
*.bak
.tox
.DS_Store
\#*#
.#*
.coverage
.xunit.xml

test/
.travis.yml
build_css.js
examples/
.jshintrc
