include LICENSE
include CONTRIBUTING.md
include README.md
include package.json

# Documentation
graft docs
exclude docs/\#*

# Tests
graft ipywidgets/tests

# Static Assets
graft ipywidgets/static

# Docs subdirs we want to skip
prune docs/build
prune docs/dist

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints

# Exclude build scripts
exclude scripts
