/*
 +------------------------------------------+
 | widget-area                              |
 |  +--------+---------------------------+  |
 |  | prompt | widget-subarea            |  |
 |  |        | +-----------------------+ |  |
 |  |        | |         widget        | |  |
 |  |        | +-----------------------+ |  |
 |  |        | +-----------------------+ |  |
 |  |        | |         widget        | |  |
 |  |        | +-----------------------+ |  |
 |  +--------+---------------------------+  |
 +------------------------------------------+
*/

.widget-area {
	page-break-inside : avoid;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.widget-area.connection-problems .prompt:after {
    content: @fa-var-chain-broken;
    font-family: "FontAwesome";
    color: #d9534f;
    top: 3px;
    padding: 3px;
}

.widget-area .widget-subarea {
    min-width: 0px;
    padding: 0.4em 0 0.4em 0;
    display: flex;
    flex: 2;
    align-items: flex-start;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
