bqplot
build
ipykernel
jupyter_client
jupyterlab>=3,<4
jupyterlite==0.1.0b11
jupyterlite-sphinx
jupyterlite-sphinx~=0.7.2
matplotlib
nbsphinx>=0.5
numpy
packaging
recommonmark
scikit-image
scikit-learn
sphinx>=1.4.6
sphinx_rtd_theme
sympy
