bqplot
build
ipykernel
jupyter_client
jupyterlab>=3,<4
jupyterlite-sphinx
matplotlib
nbsphinx>=0.5
numpy
recommonmark
sphinx>=1.4.6
sphinx_rtd_theme
packaging
scikit-image
scikit-learn
sympy
jupyterlite==0.1.0b10
jupyterlite-sphinx>=0.6.0
